.login {
  display: grid;
  place-items: center;
  height: 100vh;
  background-color: #1c1e21;
}

.login__logo {
  object-fit: contain;
  max-height: 200px;
  max-width: 50%;
}

.login > a {
  font-size: 24px;
  font-weight: 600;
  padding: 24px;
  border-radius: 10px;
  background-color: #1ed760;
  color: #1c1e21;
  text-decoration: none;
}
